/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Montserrat:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
}
html{
  font-size: 62.5%;
}
/* ##################Navigation bar############ */
.navcontainer h1 a{
  text-decoration: none;
}
ul li{
  list-style: none;
}
ul li a{
  font-size: 1rem;
  text-decoration: none;
  
}
.text-light{
  color: #f4f4f4;
}
.lg-heading{
  font-size: 1.5rem;
}
.navbar .logo{
  float: left;
  margin-left: 9%;
  font-weight: 500;
  margin-top: 0.9em;
}

.navbar .navitems{
  float: right;
  margin-top: 2rem;
}
.navbar::after{
  content: '';
  display: block;
  clear: both;
}
.navbar .navitems .navitem{
  display: inline;
  padding: 1rem;
  text-transform: uppercase;
  
}
.navbar .navcontainer a:hover{
  border-bottom: 1px solid #fff;
}
.navbar a{
  padding: 0.3rem;
}
.navcontainer{
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
/* ########################Dashboard Page################### */
body{
  background-image: url(../img/pic1.jpg);
  background-size: cover;
}
.container{
  display: flex;
  width: 95vw;
  margin: auto;
}

.logo{
  margin: 2rem 0 1rem 0;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
}
.logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logo h1{
  margin-left: 1rem;
  text-transform: uppercase;
}

ul{
  margin: 0 auto;
}
li{
  padding-bottom: 2rem;
}
li a{
  font-size: 16px;
  color: rgb(85, 83, 83);
}
.main{
  width: 100%;
}
.main-top{
  width: 100%;
  background: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e64936;
}
.main-body{
  padding: 10px 10px 10px 20px;
}
h1{
  margin: 20px 10px;
  color: #e64936;
}
.search_bar{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.search_bar input{
  width: 50%;
  padding: 10px;
  border: 1px solid rgb(190, 190, 190);
}
.search_bar input:focus{
  border: 1px solid #e64936;
}
.search_bar select{
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
  margin-left: 2rem;
}
.search_bar .filter{
  width: 300px;
}

.tags_bar{
  width: 55%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.tag{
  background: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
}
.tag i{
  margin-right: 0.7rem;
}
.row{
  display: flex;
  padding: 10px;
  margin-top: 1.3rem;
  justify-content: space-between;
}
.row p{
  color: #fff;
  font-size: 15px;
}
.row p span{
  color: #e64936;
}
.row a{
  color: #e64936;
}
.Item_card{
  width: 100%;
  padding: 15px;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 15px;
  justify-content: space-between;
  border: 2px solid rgb(190, 190, 190);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
.Item_details{
  display: flex;
}
.Item_details .img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Item_details .img i{
  width: 70px;
  font-size: 3rem;
  margin-left: 1rem;
  padding: 10px;
  color: #e64936;
  background: rgb(216, 205, 226);
}
.Item_details .text{
  margin-left: 2.3rem;
}
.Item_details .text span{
  color: rgb(116, 112, 112);
}
.Item_Quantity{
  text-align: right;
  color: #e64936;
}
